<%- include("partials/header.ejs"); -%>

    <div class="login">
        <h1>GoType</h1><br>
        <form id="signupform" action="/signup" method="post">
            <label for="user"><h5>Username</h5></label><br>
            <input id="user" type="text" name="username" required pattern="[A-Za-z0-9]+" title="Username can only contain letters and digits."><br><br>
            <label for="password"><h5>Password</h5></label><br>
            <input id="password" type="password" name="password" autocomplete="off" required><br><br>
            <label for="rpassword"><h5>Re-Password</h5></label><br>
            <input id="rpassword" type="password" name="rpassword" autocomplete="off" required><br><br>
            <span id="username-error" style="color: red; display: none;">Password and Re-password not match</span><br><br>
            <button class="btn btn-light" type="submit">Sign Up</button>
        </form>
    </div>

<%- include("partials/footer.ejs"); -%>